<div class="container-fluid">
  {% if not heading is empty %}
  <div class="row">
    <div class="col-md-12 col-center">
      <h3>
        {% trans %}
        {{ heading }}
        {% endtrans %}
      </h3>
    </div>
  </div>
  {% endif %}

  <div class="row">
    {% for item in items %}
    <div class="col-sm-12 col-md-4 col-center">
      <div>
        {{ item.image }}
      </div>
      <p>
        {% trans %}
        {{ item.text }}
        {% endtrans %}
      </p>
    </div>
    {% endfor %}
  </div>
  {% if register %}
  <div class="row">
    <div class="col-md-12 col-center">
      {{ register }}
    </div>
  </div>
  {% endif %}
</div>
