<div class="container-fluid">
  {% if not heading is empty %}
  <div class="row">
    <div class="col col-center">
      <h2>
        {% trans %}
        {{ heading }}
        {% endtrans %}
      </h2>
    </div>
  </div>
  {% endif %}

  {% if not text is empty %}
  <div class="row">
    <div class="col col-center">
      <p class="hightlight">
        {% trans %}
        {{ text }}
        {% endtrans %}
      </p>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col col-center">
      {{ register_link }}
      {{ discover_link }}
      </a>
    </div>
  </div>
</div>
