<div class="container-fluid">
  {% if not kicker is empty %}
  <div class="row">
    <div class="col col-center">
      <h5>
        {{ kicker }}
      </h5>
    </div>
  </div>
  {% endif %}

  {% if not heading is empty %}
  <div class="row">
    <div class="col col-center">
      <h2>
        {{ heading }}
      </h2>
    </div>
  </div>
  {% endif %}

  {% if not text is empty %}
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <p>
        {{ text }}
      </p>
    </div>
    {% endif %}

    {% if not image is empty %}
    <div class="col-sm-12 col-md-5">
      {{ image }}
    </div>
  </div>
  {% endif %}
</div>
