<div class="container-fluid">
  {% if not image is empty %}
  <div class="row">
    <div class="col">
      <a class="use-ajax front-image-wrapper" href="/nojs/front/video">
        <image src="{{ image.src }}">
        <div class="front-video-play"></div>
      </a>
      <div class="front-video-wrapper"><div id="front-video-ajax"></div><div class="front-video-close"></div></div>
    </div>
  </div>
  {% endif %}
  {% if not heading is empty %}
  <div class="row">
    <div class="col col-center">
      <h2>
        {% trans %}
        {{ heading }}
        {% endtrans %}
      </h2>
    </div>
  </div>
  {% endif %}
  {% if not anchor_href is empty %}
  <div class="row">
    <div class="col col-center">
      <a href="{{ anchor_href }}" class="a-lnk bg-lilac">
        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>
  {% endif %}
</div>
