<div class="container-fluid">
  {% if not heading is empty %}
  <div class="row">
    <div class="col-md-12 col-center">
      <h3>
        {% trans %}
        {{ heading }}
        {% endtrans %}
      </h3>
    </div>
  </div>
  {% endif %}

  <div class="row">
    {% for item in items %}
    <div class="col-center col-sm-12 col-md-4">
      <a class="btn hover-bg-green" href="{{ item.button_link }}">
        {% trans %}
        {{ item.button_text }}
        {% endtrans %}
      </a>
      <p>
        {% trans %}
        {{ item.text }}
        {% endtrans %}
      </p>
      <a class="a-lnk" href="{{ item.anchor }}">
        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
